$typography__site-inner-width: 1200px;
$typography__font-size: 1rem;
$typography__font-family: 'Ubuntu', sans-serif;
$responsive__breakpoint-id--extra-large: 'extra-large';
$responsive__breakpoint-id--large: 'large';
$responsive__breakpoint-id--medium: 'medium';
$responsive__breakpoint-id--small: 'small';
$responsive__breakpoint-px--large: 1200px;
$responsive__breakpoint-px--medium: 768px;
$responsive__breakpoint-px--small: 480px;
$palette__base-white: #FFFFFF;
$palette__base-black: #000000;
$palette__site-bg-color--primary: #F8F7F4;
$palette__site-bg-color--secondary: #F6F4EF;
$palette__site-border-color--primary: #DBD9D9;
$palette__site-font-color--primary: #6D6868;
$palette__site-font-color--secondary: #9E9A99;
$palette__tag-bg-color--primary: #ECE9DE;
$palette__tag-bg-color--dark: #9E9A99;
$palette__tag-bg-color--nodepkg: #E3EFDC;
$palette__tag-font-color--nodepkg: #6CBE50;
$palette__dot-bg-color--primary: #6D6868;
$palette__dot-bg-color--secondary: #9E9A99;
$palette__block-bg-color--primary: #F0EEE5;
$palette__copyright-bg-color--primary: #F0EEE5;
